﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SimpleBlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="grid" Match="NavLinkMatch.All">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Grid
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="form">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Form
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="chart">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Chart
			</NavLink>
		</li>
	</ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
