﻿@page "/chart"

@using SimpleBlazorApp.Models
@using SimpleBlazorApp.Services
@inject WeatherForecastService ForecastService

<div>
    @if(forecasts?.Count > 0)
    {
        <TelerikChart>
            <ChartCategoryAxes>
                <ChartCategoryAxis BaseUnit="@ChartCategoryAxisBaseUnit.Weeks" Type="@ChartCategoryAxisType.Date">
                    <ChartCategoryAxisLabels Format="{0:dd MMM}" />
                </ChartCategoryAxis>
            </ChartCategoryAxes>

            <ChartSeriesItems>
                <ChartSeries Type="@ChartSeriesType.Line" Name="High" Color="red"
                                Data="@forecasts"
                                Field="@nameof(WeatherForecast.TemperatureF)"
                                CategoryField="@nameof(WeatherForecast.Date)"
                                Aggregate="@ChartSeriesAggregate.Max">
                    <ChartSeriesLabels Visible="true" Template="#=dataItem.Summary#" />
                </ChartSeries>

                <ChartSeries Type="@ChartSeriesType.Line" Name="Low" Color="blue"
                                Data="@forecasts"
                                Field="@nameof(WeatherForecast.TemperatureF)"
                                CategoryField="@nameof(WeatherForecast.Date)"
                                Aggregate="@ChartSeriesAggregate.Min">
                    <ChartSeriesLabels Visible="true" Template="#=dataItem.Summary#" />
                </ChartSeries>
            </ChartSeriesItems>

            <ChartValueAxes>
                <ChartValueAxis AxisCrossingValue="new object[] { -50 }">
                    <ChartValueAxisLabels Format="{0} F"></ChartValueAxisLabels>
                </ChartValueAxis>
            </ChartValueAxes>

            <ChartTitle Text="Min and Max temperatures for the upcoming weeks"></ChartTitle>
        </TelerikChart>
    }
    else
    {
        <div class="alert alert-info">No data available.</div>
    }
</div>
@code{
	List<WeatherForecast> forecasts { get; set; }
	int numberOfRounds = 100;
	int delayTime = 1500;

	protected override async Task OnInitializedAsync()
	{
		DateTime currDate = DateTime.Now.Date;
		var allForecasts = await ForecastService.GetForecastListAsync(currDate);
		for (int i = 0; i < numberOfRounds; i++)
		{
			forecasts = await ForecastService.GetUpdatedForecastList();
			await Task.Delay(delayTime);
			StateHasChanged();
		}


	}
}